# Go
/bin/
/build/
/golden-gate
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.log
*.coverprofile
vendor/

# Database files
data/
*.db
*.sqlite
*.sqlite3

# Vim
*.swp
*.swo
*.swn

# Neovim
*.tmp
*.bak
*.undo
*.nvimlog

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Linux
*~
.nfs* 